#cabecera{
    position: fixed;
    background-attachment: fixed;
    background-color: rgb(223, 218, 196);
    width: auto;
    height: 160px;
    
}

#logo{
    width: 7%;
    margin-left: 5%;
    float: left;
}
#titulo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size:xxx-large;
    margin-left: 15%;
    margin-top: 2%;
    float: left;
}
#inicio{
    float: left;
    width: 8%;
    margin-left: 20%;
    
}
#panel{
    background-color: darkcyan;
}

* {
    margin:0px;
    padding:0px;
}

#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

#menuCentral{
    width: 20%;
    height: auto;
}

ul, ol {
    list-style:none;
}

#menuCentral > li {
    float:left;
    
}

#menuCentral li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

#menuCentral li a:hover {
    background-color:#434343;
}

#menuCentral li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

#menuCentral li:hover > ul {
    display:block;
    position: relative;
}

#menuCentral li ul li {
    position:relative;
}

#menuCentral li ul li ul {
    right:-140px;
    top:0px;
}
#Competiciones{
    font-size: x-large;
}
#Equipos{
    font-size: x-large;
}
#Noticias{
    font-size: x-large;
}
#Alta{
    font-size: x-large;
}
#menuGeneral{
    overflow: hidden;
}
#menuIzquierda{
    margin-top: 160px;
    float: left;
    width: 20%;
    background-color: red;
}
#menuCentral{
    margin-top: 160px;
    float: left;
    width: 60%;
    background-color: black;
}
#menuDerecha{
    height: 500px;
    margin-top: 160px;
    float: left;
    width: 20%;
    background-color: green;
}
.equipos2{
    z-index: 1;

}

ul{
    float: left;
    margin-left: 10%;
}